
<aside [ngClass]="{
    'bag': true,
    'bag--opened': isOpen
  }">

  <div class="bag__header">
    <div class="bag__headerTitle">
      <app-bag-icon></app-bag-icon>
      <h1>Sacola</h1>
    </div>
  </div>

  <div class="bag__items">

    <app-bag-item
      *ngFor="let bagItem of getBagItems()"
      [bagItem]="bagItem"></app-bag-item>
    
  </div>

  <div class="bag__total">
    <div class="bag__totalText">
      Subtotal
    </div>
    <div class="bag__totalValue">
      R$ {{ getSubtotal().toLocaleString('pt-BR') }}
    </div>
  </div>

  <div class="bag__button">
    Comprar
  </div>

</aside>
