<main class="products">  

  <app-product-item
    photo="test"
    title="Camisa Corinthians"
    price="198.90"
    installments="3"
    currencyFormat="R$"></app-product-item>

  <app-product-item
    photo="test"
    title="Camisa Corinthians"
    price="198.90"
    installments="3"
    currencyFormat="R$"></app-product-item>

  <app-product-item
    photo="test"
    title="Camisa Corinthians"
    price="198.90"
    installments="3"
    currencyFormat="R$"></app-product-item>

  <app-product-item
    photo="test"
    title="Camisa Corinthians"
    price="198.90"
    installments="3"
    currencyFormat="R$"></app-product-item>

  <app-product-item
    photo="test"
    title="Camisa Corinthians"
    price="198.90"
    installments="3"
    currencyFormat="R$"></app-product-item>


</main>

<app-bag></app-bag>
