.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    max-width: 1000px;
    padding: 85px 15px 15px 15px;
    margin: 0 auto;
    box-sizing: border-box;


    &__btnBag{
        position: fixed;
        top: 15px;
        right: 15px;
        color: #151217;
        cursor: pointer;
        transition: .2s ease;
        z-index: 11;

        &--opened{
            color: #fff
        }

        &Close{
            font-size: 50px;
        }
    }
}