.productItem{
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    text-align: center;
    color: #322e36;
    cursor: pointer;
    transition: .2s ease-in;
    background-color: #fff;
    box-sizing: border-box;
    padding-bottom: 20px; 

    &:hover{
        transform: scale(1.01);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    }

    &__photo{
        width: 100%;
        background: #babaca;
        object-fit: cover;
    }

    &__price{
        &::before{
            content: '';
            display: block;
            background-color: #e6cc00;
            width: 25px;
            height: 5px;
            margin: 0 auto 10px auto;
        }
        
        span{
            font-weight: bold;
            font-size: 30px;
        }
    }

    &__installments{
        color: #babaca;
    }



}