
<aside class="bag">

  <div class="bag__header">
    <div class="bag__headerTitle">
      <fa-icon [icon]="faShoppingBag"></fa-icon>
      <h1>Sacola</h1>
    </div>
  </div>

  <div class="bag__items">

    <app-bag-item
      photo="test"
      title="Camisa Corinthians"
      price="198.90"
      installments="3"
      currencyFormat="R$"></app-bag-item>

    <app-bag-item
      photo="test"
      title="Camisa Corinthians"
      price="198.90"
      installments="3"
      currencyFormat="R$"></app-bag-item>

    <app-bag-item
      photo="test"
      title="Camisa Corinthians"
      price="198.90"
      installments="3"
      currencyFormat="R$"></app-bag-item>


    
  </div>

  <div class="bag__total">
    
  </div>

  <div class="bag__button">
    Comprar
  </div>

</aside>
